<footer class="container">
    <hr class="my-1" />
    <small>
        <a href="https://github.com/">니혼GO</a>
        <a href="https://likelion.net">Likelion</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to 'Team', team_path %></li>
            <li><%= link_to 'Contact', root_path %></li>
        </ul>
    </nav>
</footer>