<header class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
<div class="contianer">
  <!--<img src='/app/assets/images/logo.jpg'/>-->
  <%= link_to "Nihon Go", root_path, id: 'logo', class: 'navbar-brand' %>
</div>  
  <!-- Toggle Button -->
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-laber="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <!-- Navbar -->
  <nav class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item nav-link"><%= current_user.name %></a></li>
        <li class="nav-item"><%= link_to 'Sign out', destroy_user_session_path, method: 'delete', class: 'nav-link' %></li>
      <% else %>
        <li class="nav-item"><a class="nav-link" href="/users/sign_in">로그인</a></li>
        <li class="nav-item"><a class="nav-link" href="/users/sign_up">회원가입</a></li>
      <% end %>
    </ul>
  </nav>
</header>